@font-face {
    font-family: "SecularOne";
    src: url(../fonts/Lato-Light.ttf);
  }
  .header a{
    text-decoration: none;
      color:#0FE1CF; 
      font-family: 'SecularOne', sans-serif;
      font-size: 1.5em;
      font-weight: bold;
      
  }
  .header a:visited{
    color:#0FE1CF; 
  }
  .header{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding:10px 20%;
    height: 300px;
    background-color: #5951B0;
    /* clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 0% 100%); */
    clip-path: url("#polygon-clip-trapezoid");
    position: relative;
    z-index: 0;
    
  }
  .header a h1{
   
      margin: 0px auto;
      /* max-width: 1200px; */
      
      color:#0FE1CF; 
      
    /* background: -webkit-linear-gradient(to top, #0575E6, #00F260);  

background: linear-gradient(to top, #0575E6, #00F260);



     
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; */
      position: relative;
      z-index: 5;
      font-family: 'SecularOne', sans-serif;
      font-size:2em;
      
    }