.hero-image{
    display:flex;
    width:70%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    // top:-300px;
    // left:10px;
    // z-index:3;
    margin-top: 0px;
    margin-bottom:200px;
    border-bottom: solid 5px #5951B0;
   
   
}
.dev__img{
    height:200px;
    top:10px;
    left:50px;
    position: relative;
    // bottom: -50px;
}
.dev{
    height: 370px;
    width:30%;
    min-width:350px;
}
.dev__laptop{
    position: relative;
    top:-20px;
    fill: whitesmoke;
    stroke:#4d4d4d;
    stroke-width:3;
    
    margin: auto;
    margin-left:5px;
    
}
.dev__laptop:hover{
    fill:#96fff4;
}
.cat-img{
    height:300px;
    width:10vw;
    align-self: flex-end;
    margin-bottom: -45px;
}
.flw-img{
    height:100px;
    align-self: flex-end;
}

.main{
    fill: #256b63;
   font-family: Roboto, sans-serif;
   text-transform: lowercase;
    font-size:1.5em;
   
   stroke:url(#linear-gradient);
   stroke-width:18px;
   stroke-linecap:round;
   stroke-linejoin:round;
 }
 .main-1{
    fill: white;
   font-family: Roboto, sans-serif;
   text-transform: lowercase;
    font-size:1.5em;
    stroke-width: 0px;
   
 
 }