//function for removing the unit of value
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
  }
  /* mixin for calculate font size based on
  1. minimal width ($min-vw)
  2. maximal width ($max-vw)
  3. minimal font-size ($min-font-size)
  4. maximal font-size ($max-font-size)
  */
  @mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    //check units of mixin's parameters 
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
  //check out that units for parameter's values are the same
    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
      //linking for parent selector
      & {
        //font-size set to min value 
        font-size: $min-font-size;
        // for screens between min and max width
        // calculating font-size
        // add calc for formula 
        // calculate difference between max & min font size 
        // scaling font size to width of our container
        font-size: $min-font-size;
        @media screen and (min-width: $min-vw) {
          font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        }
  
        @media screen and (min-width: $max-vw) {
          font-size: $max-font-size;
        }
      }
    }
  }
  
  $min_width: 320px;
  $max_width: 1920px;
  $min_font: 10px;
  $max_font: 16px;
  
  html {
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
  }
@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    margin:0px;
    padding: 0px;
    
    font-family: 'Roboto', sans-serif;
}
a{
    color:black;
    text-decoration: none;

}
a:visited{
    color:inherit;
}
.layout{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    position: absolute;
    width:100%;
    left: 0;
    top:0;
    
}



.articles{
    font-family: 'Roboto', sans-serif;
    width: 60%;
    padding: 10px;
    margin: auto;
    position: relative;
    background: white;
    top:-200px;
    border:solid 5px #96fff4;
    
    z-index:2;
    h2,h4{
        color:#333;
    }
    a{  display: block;
        padding: 10px;
        text-decoration: none;
        color:#333;
        &:visited{
            color:#333;
        }
        &:hover{
            background: #96fff4;
           
            z-index:3;
        }
    }

}
.profile__img{
    width:150px;
    height: auto;
    margin-right:50px;
}
.profile{
    font-family: 'Roboto', sans-serif;
    width: 60%;
    padding: 10px;
    margin: auto;
    position: relative;
    background: white;
    top:-200px;
    border:solid 5px #96fff4;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    z-index:2;
    h2,h4{
        color:#333;
    }
    a{  display: block;
        padding: 10px;
        text-decoration: none;
        &:visited{
            color:#333;
        }
        &:hover{
            background: #96fff4;
            color:#5951B0;
            z-index:3;
        }
    }

}
.profile__header{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    h1{
        display: flex;
        flex-flow:row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 1.3em;
        border-bottom:1px solid lightgrey;
        .profile__lang{
            font-size:0.5em;
            font-weight: 400;
        }
    }
}


.posts{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: visible;
    position: relative;
    margin: 150px auto;
    
}
.projects{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: visible;
    position: relative;
    margin:0px auto 150px auto;
   
}
.preview-box{
    width:300px;
    min-height: 400px;
    box-sizing: border-box;
    background: white;
    display: flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.65);
    -moz-box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.65);
    box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.65);
    margin:20px;
    *{
        padding:5px;
        margin:auto;
        margin-left: 0px;
    }
    .preview-box__img{
        height: 100px;
    }
    .post__img{
        width:100%;
        height: auto;
        padding:5px 0px;
    }
    h1{
        color:white;
        background: #5951B0;
        background:linear-gradient(-45deg, transparent 35px,#5951B0 0);
        font-weight: normal;
        padding: 10px 60px 10px 10px;
        margin-bottom: 15px;
        margin-top: 0px;
        border-radius: 5px 0px 0px 0px;

    }
}
