
@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    margin:0px;
    padding: 0px;
    background:url(../img/bg.png) repeat;
    font-family: 'Roboto', sans-serif;
}
.layout{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top:0;
    
}

.background{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top:0;
    z-index: -1;
    width:100%;
}
.header-section{
    height: 300px;
    width:100%;
    background-color: #5951B0;
    /* clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 0% 100%); */
    clip-path: url("#polygon-clip-trapezoid");
    margin:0px auto 200px auto;
}

.articles{
    font-family: 'Roboto', sans-serif;
    width: 60%;
    padding: 10px;
    margin: auto;
    position: relative;
    background: white;
    top:-200px;
    border:solid 5px #96fff4;
    
    z-index:2;
    h2,h4{
        color:#333;
    }
    a{  display: block;
        padding: 10px;
        text-decoration: none;
        color:#333;
        &:visited{
            color:#333;
        }
        &:hover{
            background: #96fff4;
           
            z-index:3;
        }
    }

}
.profile__img{
    width:150px;
    height: auto;
    margin-right:50px;
}
.profile{
    font-family: 'Roboto', sans-serif;
    width: 60%;
    padding: 10px;
    margin: auto;
    position: relative;
    background: white;
    top:-200px;
    border:solid 5px #96fff4;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    z-index:2;
    h2,h4{
        color:#333;
    }
    a{  display: block;
        padding: 10px;
        text-decoration: none;
        &:visited{
            color:#333;
        }
        &:hover{
            background: #96fff4;
            color:#5951B0;
            z-index:3;
        }
    }

}
.profile__header{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    h1{
        display: flex;
        flex-flow:row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 1.3em;
        border-bottom:1px solid lightgrey;
        .profile__lang{
            font-size:0.5em;
            font-weight: 400;
        }
    }
}

.projects-section{
    height: 500px;
    width:100%;
    background-color: #ff4081;
    clip-path: url("#polygon-project");
    
    margin:150px auto;
    
    
    

}
.posts-section{
    height: 500px;
    width:100%;
    margin:150px auto;
    
    background-color: gray;
    clip-path: url("#polygon-post");
    
   
    

}
.posts{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: visible;
    position: relative;
    margin: 150px auto;
    
}
.projects{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: visible;
    position: relative;
    margin:0px auto 150px auto;
   
}
.preview-box{
    width:300px;
    min-height: 400px;
    box-sizing: border-box;
    background: white;
    display: flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.65);
    -moz-box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.65);
    box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.65);
    margin:20px;
    *{
        padding:5px;
        margin:auto;
        margin-left: 0px;
    }
    .preview-box__img{
        height: 100px;
    }
    .post__img{
        width:100%;
        height: auto;
        padding:5px 0px;
    }
    h1{
        color:white;
        background: #5951B0;
        background:linear-gradient(-45deg, transparent 35px,#5951B0 0);
        font-weight: normal;
        padding: 10px 60px 10px 10px;
        margin-bottom: 15px;
        margin-top: 0px;
        border-radius: 5px 0px 0px 0px;

    }
}
