@font-face {
  font-family: "MerriweatherSans";
  src: url(./fonts/MerriweatherSans-Light.ttf);
}


.container {
    margin: 3rem auto;
    max-width: 600px;
    background-image: url(./img/morocco.png);
    font-family: 'MerriweatherSans', sans-serif;
    
  }