.background{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top:0;
    z-index: -1;
    width:100%;
    background:url(../assets/img/bg.png) repeat;
}
.header__section{
    height: 300px;
    width:100%;
    background-color: #5951B0;
    /* clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 0% 100%); */
    clip-path: url("#polygon-clip-trapezoid");
    margin:0px auto 200px auto;
}

.projects__section{
    height: 500px;
    width:100%;
background: #acb6e5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    clip-path: url("#polygon-project");
    
    margin:150px auto;
    
    
    

}
.posts__section{
    height: 600px;
    width:100%;
    margin:150px auto;
    
    background: #8360c3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    clip-path: url("#polygon-post");

    

}

.footer__section{
    height: 300px;
    width:100%;
    margin:0px auto;
    background: #1D2B64;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #8360c3, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #8360c3, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




    clip-path: url("#polygon-footer");

    

}