.date {
    background:#333;
    color:white;
    margin:5px auto 5px 0px;
    padding:5px;
    border-radius:5px;
    display:flex;
    flex-direction: row wrap;
    align-items: flex-start;
    justify-content: center;
    width: max-content;
    span{
        padding:0px 5px;
    }
}