
.dateIcon{
    margin:-0.2em 5px 0em 0px;
}
.date_dark{
    background:#333;
    color:white;
    margin:5px auto 5px 0px;
    padding:5px;
    border-radius:5px;
    display:flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: center;
    width: max-content;
}
.date_light{
    background:white;
    color:#333;
    margin:5px auto 5px 0px;
    padding:5px;
    border-radius:5px;
    display:flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: center;
    width: max-content;
}