//function for removing the unit of value
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
  }
  /* mixin for calculate font size based on
  1. minimal width ($min-vw)
  2. maximal width ($max-vw)
  3. minimal font-size ($min-font-size)
  4. maximal font-size ($max-font-size)
  */
  @mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    //check units of mixin's parameters 
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
  //check out that units for parameter's values are the same
    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
      //linking for parent selector
      & {
        //font-size set to min value 
        font-size: $min-font-size;
        // for screens between min and max width
        // calculating font-size
        // add calc for formula 
        // calculate difference between max & min font size 
        // scaling font size to width of our container
        font-size: $min-font-size;
        @media screen and (min-width: $min-vw) {
          font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        }
  
        @media screen and (min-width: $max-vw) {
          font-size: $max-font-size;
        }
      }
    }
  }
  
  $min_width: 300px;
  $max_width: 1920px;
  $min_font: 12px;
  $max_font: 16px;



.image{
	display:flex;
  border:solid 1px red;
    width:70%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin-top: -250px;
    margin-bottom:200px;
    border-bottom: solid 5px #5951B0;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}
.dev{
    height: 370px;
    width:40%;
    max-width:350px;
   
	border:solid 1px grey;
}
.cat{
	    height:200px;
    width:30%;
    align-self: flex-end;
    margin-bottom: -45px;
    border:solid 1px green;
}
.flower{
	  height:100px;
    align-self: flex-end;
}
.main{
    fill: #256b63;
   font-family: Roboto, sans-serif;
   text-transform: lowercase;
    font-size:1.5em;
   
   stroke:url(#linear-gradient);
   stroke-width:18px;
   stroke-linecap:round;
   stroke-linejoin:round;
 }
 .main-1{
    fill: white;
   font-family: Roboto, sans-serif;
   text-transform: lowercase;
    font-size:1.5em;
    stroke-width: 0px;
   
 
 }
 .sticker{
  width:30px;
  height: 30px;
  // transform: translate(295px, 115px);
}
@media only screen and (max-width: 1000px) {
  .image {
  	width:100%;
    
  }
}
@media only screen and (max-width: 640px) {
.dev{
width:70%;
	}
	.flower{
		display:none;
	}
}
@media only screen and (max-width: 410px) {
.cat{
	margin-bottom: -55px;
}
}
