.link{
	  margin:5px 10px;
        padding:0px;
        font-family: 'Roboto', sans-serif;
   
        font-weight: 300;
        font-size: 0.1em;
        display:flex;
        flex-flow: column nowrap;
        justify-content:flex-start;
        align-items:flex-start;
        &:after{
          background-color: #0FE1CF;
          content: "";
          display: block;
          height: 2px;
          width: 0px;
          transition: width 0.8s ease;
        }
    
        &:hover:after {
          width:100%;
        }

}
   .link:after {
    background-color: #0FE1CF;
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    }
    .link:hover{
      .link:after{
        width:100%;
      }
      
      
    } 