.project{
	
	
	margin-bottom: 20px;
	line-height: 1.5em;

}
.project__link{
  margin: auto 10px auto 0px;
  color:#5951B0;
  border-bottom: 2px solid rgba(89,81,176,0.4);
  font-size:1.2em;
  
  
}
.project__link:visited{
   color:#5951B0;
}
.project__link:hover{
margin-bottom: -2px;
  border-bottom: 4px solid rgba(89,81,176,1);
  background-color: rgba(15,225,207,0.3)
}
.project__repo{
	margin-bottom: -3px;
	
	}