.skill{
	line-height: 1.5em;
}
.skill__header{
    display:flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: center;

}
.skill__img{
    height:32px;
    width: auto;
    margin-left: 5px;
}
.skill__name{
    padding:0px 5px;
}
.skill__learning{
	a{
		color:blue;
	}
}