    .sticker {
      opacity: 1;
      
     
      width:30px;
      height: 30px;
  position: relative;
      z-index: 2;
      left:-200px;
      top:10px;
    
  
    }

  
    

    .active {
      opacity: 1;
         transition-duration: 10s;
    transition-timing-function: ease;
        transform: translate(300px, 115px);
    }