
.previews{
    display: flex;
    flex-flow:row wrap;
    margin-bottom: 300px;
}

.footer{
margin: auto;
margin-bottom: 0px;
color:white;
font-weight: 200;
font-size: 0.9em;
padding:0px;
width:100%;
// border:solid 1px green;

box-sizing: border-box;
}
.footer__icon{
	margin:0px 5px 0px 5px;
}
.footer__content{
background: rgb(44,51,114);
display: flex;
flex-flow: column nowrap;
justify-content: flex-start;
align-items: center;
padding:10px;
p{
	margin:0px;
	padding: 5px;
}
}
.about{
	font-size:1.2em;
	line-height: 1.5em;
	width:100%;
	font-weight: 200;
	display:flex;
	flex-flow:row nowrap;
	justify-content: flex-end;
	margin-top: -180px;
	h1{
		color: rgb(127,99,192);
	}
}
.about__content{
	max-width: 450px;
	min-width:300px;
	margin:auto;
	width:calc(100% / 2);
	padding:10px;
	display:flex;
	flex-flow:column nowrap;
	justify-content: flex-start;

}
.about__text{
	display:block;
	padding: 0px 10px;
	border-left:solid rgb(44,51,114) 4px;
	background:rgba(141,238,231, 0.7);
	margin:15px 0px;
}
.section__link{
	padding:0px 10%;
	width:100%;
	display:flex;
	flex-flow:column nowrap;
	align-items: flex-end;

}