@import url('https://fonts.googleapis.com/css?family=Kalam:300');
.previews{
    display: flex;
    flex-flow:row wrap;
    margin-bottom: 300px;
}
.footer{
margin: auto;
margin-bottom: 0px;
color:white;
font-family: 'Kalam', cursive;
font-size: 1.3em;
padding:0px;
width:100%;
// border:solid 1px green;

box-sizing: border-box;
}
.footer__icon{
	margin:0px 5px 0px 5px;
}
.footer__content{
background: rgb(44,51,114);
p{
	margin:0px;
	padding: 5px;
}
}