@import url('https://fonts.googleapis.com/css?family=Kalam:300');
.previews{
    display: flex;
    flex-flow:row wrap;
    margin-bottom: 300px;
}
.footer{
margin: auto;
margin-bottom: 0px;
color:white;
font-family: 'Kalam', cursive;
font-size: 2em;
}
.footer__icon{
	
	margin:0px 5px -7px 5px;
}